

    <div mat-dialog-content>
        <form [formGroup]="productForm">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput placeholder="name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Weight</mat-label>
            <input formControlName="weight" matInput placeholder="weight">
          </mat-form-field>
          <button mat-raised-button color="warn" (click)="add()" type="submit">Close</button>
          <button mat-raised-button color="primary" (click)="add()" type="submit">Save</button>
        </form>
        </div>
